<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Restraunt App</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">

        <div class="jumbotron">
          <h1 class="text-center"><span class="fa fa-fire"></span>The Hottest Restaurant in all of LA</h1>
          <hr>
          <h2 class="text-center">Current Reservations and Waiting List</h2>
          <br>
    
          <div class="text-center">
            <a href="/reserve"><button class="btn btn-lg btn-danger"><span class="fa fa-credit-card"></span> Make Reservation</button></a>
            <a href="/"><button class="btn btn-lg btn-default"><span class="fa fa-home"></span></button></a>
          </div>
        </div>
    
        <div class="row">
          <div class="col-lg-12">
    
            <!-- Current Tables in Use -->
            <div class="card">
              <div class="card-header">
                <h4>Current Reservations</h4>
              </div>
              <div class="card-body">
                <ul id="tableList" class="list-group"><li class="list-group-item mt-4"><h2>Table #1</h2><hr><h2>ID: 1312</h2><h2>Name: dd</h2><h2>Email: d@d.com</h2><h2>Phone: 1231231</h2></li><li class="list-group-item mt-4"><h2>Table #2</h2><hr><h2>ID: 534</h2><h2>Name: gg</h2><h2>Email: g@g.com</h2><h2>Phone: 5443434</h2></li><li class="list-group-item mt-4"><h2>Table #3</h2><hr><h2>ID: 54432</h2><h2>Name: hh</h2><h2>Email: h@h.com</h2><h2>Phone: 343434</h2></li><li class="list-group-item mt-4"><h2>Table #4</h2><hr><h2>ID: 4587</h2><h2>Name: yy</h2><h2>Email: y@y.com</h2><h2>Phone: 8574587</h2></li><li class="list-group-item mt-4"><h2>Table #5</h2><hr><h2>ID: 123233</h2><h2>Name: qq</h2><h2>Email: q@q.com</h2><h2>Phone: 12323</h2></li></ul>
              </div>
            </div>
    
            <!-- Waiting List Card -->
            <div class="card mt-4">
              <div class="card-header">
                <h4>Waiting List</h4>
              </div>
              <div class="card-body">
                <ul id="waitList" class="list-group"><li class="list-group-item mt-4"><h2>Table #1</h2><hr><h2>ID: 9898</h2><h2>Name: ee</h2><h2>Email: e@e.com</h2><h2>Phone: 3434454</h2></li></ul>
              </div>
            </div>
          </div>
        </div>
    
    
        <footer class="footer mt-4">
          <div class="container">
            <p>Control Panel</p>
            <p><a href="#" id="clear">Clear Table</a> | <a href="/api/tables">API Table Link</a> | <a href="/api/waitlist">API
                Wait List</a>
          </p></div>
        </footer>
    
      </div>

</html>